.banner-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
@media screen and (max-width:576px){
    .banner-section{
        grid-template-columns: repeat(1,1fr)
    }
    
}
@media screen and (min-width:577px)and (max-width:768px) {
    .banner-section{
        grid-template-columns: repeat(2,1fr);
    }
    
}
.orange{
    color:orange;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
}
